.main {
    max-width: 300px;
    border: 2px solid black;
}

.name {
    border: 2px;
    padding: 4px;
}

.image {
    border: 2px;
    padding: 2px;
    max-width: 292px;
}

.description {
    border: 2px solid black;
}


.fact {
    font-style: italic;
    border: 2px;
    padding: 10px;
}

.list {
    border: 2px;
    list-style-type: none;
    align-items: flex-start;
    padding: 10px;
}

.particular {
    font-weight: bold;
}

.addinfo {
    border: 2px;
    padding: 10px;
}